:root {
    /* colors */
    --ctk-primary-color: #FAFAFA;
    --ctk-primary-color-transparent: rgba(250, 250, 250, 0.5);
    --ctk-primary-text-color: #3388cc;
    --ctk-primary-text-color-border: rgba(51, 136, 204, 0.15);
    --ctk-primary-text-color-transparent: rgba(51, 136, 204, 0.5);
    --ctk-primary-text-color-ultratransparent: rgba(51, 136, 204, 0.3);
    --ctk-primary-text-color-darker: #225d8c;

    --ctk-accent-color: rgb(63, 61, 86);
    --ctk-accent-color-transparent: rgba(63, 61, 86, 0.5);

    --ctk-secondary-color: #EEEEEE;
    --ctk-secondary-color-transparent: rgba(238, 238, 238, 0.5);
    --ctk-secondary-color-semitransparent: rgba(238, 238, 238, 0.75);

    --ctk-third-color: #DDDDDD;

    --ctk-forth-color: #333333;

    --ctk-background-color: var(--ctk-secondary-color);

    /* custom elements */
    --ctk-banner-video-background-color: #000000;

    /* shadows */
    --ctk-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    --ctk-box-shadow-inset: inset 0 5px 10px rgba(0, 0, 0, 0.15);
    --ctk-underline:
        0 -2px 0 0 currentColor inset,
        0 -3px 0 0 transparent inset;

    /* fonts */
    --ctk-font-size: 16px;
    --ctk-primary-font: 'Source Sans Pro', sans-serif;
    --ctk-secondary-font: 'Roboto Mono', monospace;;

    /* gaps */
    --ctk-general-gap: 1em;
    --ctk-general-gap-lg: 1.50em;
    --ctk-general-gap-md: 0.75em;
    --ctk-general-gap-hf: 0.50em;
    --ctk-general-gap-sm: 0.25em;
    --ctk-gap: 30px;
    --ctk-gap-md: 23px;
    --ctk-gap-hf: 15px;

    /* radius */
    --ctk-border-radius: 3px;

    /* sizes */
    --ctk-container-width: 1200px;
    --ctk-container-min-height: 50vh;
    --ctk-header-height: 75px;
    --ctk-header-logo-height: 50px;
    --ctk-nav-height: 50px;
    --ctk-nav-fixed-height: 60px;
    --ctk-nav-logo-height: 35px;
    --ctk-burger-line-width: 13px;
    --ctk-burger-line-height: 2px;
    --ctk-burger-line-difference: 4px;

    /* z-indexes */
    --ctk-header-z-index: 3;
    --ctk-nav-z-index: 2;
}

html,
body {
    width: 100%; height: 100%;
}

body {
    display: grid;

    font-size: var(--ctk-font-size);
    font-family: var(--ctk-primary-font);
    background-color: var(--ctk-background-color);

    padding-top: calc(var(--ctk-header-height) + var(--ctk-nav-height));

    -webkit-tap-highlight-color: var(--ctk-primary-text-color-transparent);
}

@media only screen and (max-width: 790px) {
    body.extra {
        padding-top: calc(var(--ctk-header-height) + 2 * var(--ctk-nav-height));
    }
}

#__next,
#__grid {
    width: 100%;
}

#__next {
    display: flex;
}

#__grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--ctk-general-gap-lg);
    justify-content: stretch;
}

button {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: var(--ctk-font-size);
    font-family: var(--ctk-primary-font);
    padding: var(--ctk-general-gap-sm) var(--ctk-general-gap-hf);
    border: 1px solid var(--ctk-primary-text-color);
    border-radius: var(--ctk-border-radius);
    color: var(--ctk-primary-text-color);
    background-color: transparent;
}

::selection {
    color: var(--ctk-secondary-color);
    background-color: var(--ctk-primary-text-color);
}